<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Honey Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
    <link rel="stylesheet" href="./css/addRecipe.css">
  </head>
  <body>
    <div class="text-center"><h1> Hello! Add you favorite combination of drinks!!</h1></div>
    <div class="form">
      <div class="text-center mb-4">
    <form class="form-signin" action="/addRecipe" method="POST">
        <label for="Recipe">New Recipe</label>
        <input type="text" name="recipe" placeholder="your recipe" class="form-control" required autofocus>
        <input type="submit" class="btn btn-success" value="Send" >
    </form>
    </div>
     </div>
  </body>
</html>