<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Honey Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
    <style type="text/css">
      .form-signin {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div class="text-center"><h1> Hello! Add you favorite combination of drinks!!</h1></div>
    <form class="form-signin" action="/addRecipe" method="POST">
      <div class="text-center mb-4">
        <label for="Recipe">New Recipe</label>
        <input type="text" name="recipe" placeholder="username" class="form-control" required autofocus>
        <input type="submit" class="btn btn-success" value="Send" >
      </div>
    </form>
  </body>
</html>