<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Honey Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bar.css">
    <link href="http://allfont.ru/allfont.css?fonts=lc-chalk" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div class="user-table">
    <h2>Заходят</h2>
    <div class="users">
      <%if (records.length > 0){ %>
            <% records.forEach(function(row){ %>
              <p style="display:inline"><%= row.name%></p><br>
            <% })}else{ %>
              <p></p>
            <% } %>
    </div>
    <h2>в бар, а бармен им "Hej! Please login with your username and password."</h2>
  </div>
  <div class="bar-table">
    <div class="cloud">
      <div  class="message"></div>
      <form onsubmit="get_recipe()"><input type="submit" class="btn btn-yes" value="YES" /></form> 
       <form onsubmit="close_cloud()"><input type="submit" class="btn btn-no" value="NO" /></form> 
    </div>
    <div class="alco">
      <div class="bottles">
      <img id=1 class="bottle" src="./img/bottle1.png">
      <img id=2 class="bottle" src="./img/bottle2.png">
      <img id=3 class="bottle" src="./img/bottle3.png">
      <img id=4 class="bottle" src="./img/bottle4.png">
      <img id=5 class="bottle" src="./img/bottle5.png">
      </div>
    </div>
  </div>   
  <div class="recipes">
    <h2>Ваш заказ</h2>
    <div class="user-recipes"></div>
  </div>
    <script>
      var socket = new WebSocket("ws://localhost:8080");   
      document.getElementsByClassName('cloud')[0].classList.add('non-display'); 
      document.getElementsByClassName('recipes')[0].classList.add('non-display'); 
      var token = document.cookie.match(/token=\S*/g)[0].split('token=')[1];
      var name = '';
      socket.onopen = function () {
        console.log("OPENED : ", socket.readyState);
        socket.send(JSON.stringify({
          "cmd": "get_name",
          "token": token
        }));
      }

      socket.onmessage = function (msg) {
        console.log(msg);
        var  json = JSON.parse(msg.data);
        if (json) {
          console.log(json);
          if (json.name) {
            name = json.name;
            document.getElementsByClassName('cloud')[0].classList.remove('non-display');
            document.getElementsByClassName('message')[0].innerHTML = "Привет<br>"+name+"<br>тебе как обычно?"
          } else {
            if(json.recipes) {
              rec = json.recipes;
              rec.forEach(function(res) {
                document.getElementsByClassName('user-recipes')[0].innerHTML += "<p>"+res.recipe+"</p><br>"
              })
             document.getElementsByClassName('recipes')[0].classList.remove('non-display'); 
          } 
            document.getElementsByClassName('cloud')[0].classList.add('non-display'); 
          }
        }         
      }

      socket.onclose = function () {
        console.log("CLOSED : ", socket.readyState);
      }

      function send() {
        event.preventDefault();
        var message = document.getElementById("message").value;
        socket.send(message);
        document.getElementById("message").value = '';
      }

      get_recipe = function () {
        event.preventDefault();
       socket.send(JSON.stringify({
          "cmd": "get_recipe",
          "name": name
        })); 
      }

      close_cloud = function () {
        document.getElementsByClassName('cloud')[0].classList.add('non-display'); 
      }

    </script>
  </body>
  
</html>