<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Honey Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
    <style type="text/css">
      .form-signin {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <script>
      var socket = new WebSocket("ws://localhost:8080");
      var token = document.cookie.match(/token=\S*/g)[0].split('token=')[1];
      var name = '';
      socket.onopen = function () {
        console.log("OPENED : ", socket.readyState);
        socket.send(JSON.stringify({
          "cmd": "get_name",
          "token": token
        }));
      }

      socket.onmessage = function (msg) {
        console.log(msg);
        var  json = JSON.parse(msg.data);
        if (json) {
          if (json.name) name = json.name;
        }
      }

      socket.onclose = function () {
        console.log("CLOSED : ", socket.readyState);
      }

      function send() {
        event.preventDefault();
        var message = document.getElementById("message").value;
        socket.send(message);
        document.getElementById("message").value = '';
      }

      get_recipe = function () {
        event.preventDefault();
       socket.send(JSON.stringify({
          "cmd": "get_recipe",
          "name": name
        })); 
      }

    </script>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="jumbotron card card-block">
          <h2>
            Заходят
          </h2>
          <%if (records.length > 0){ %>
            <% records.forEach(function(row){ %>
              <p style="display:inline"><%= row.name + ","%></p>
            <% })}else{ %>
              <p></p>
            <% } %>
          <h2>
            в бар, а бармен им "Hej! Please login with your username and password."
          </h2>
        </div>
      </div>
    </div>
  </div>
  <form onsubmit="get_recipe()"><input type="submit" class="btn btn-danger" value="yes" /></form> 
  
  </body>
  
</html>