body {
	background-image: url(../img/back.jpeg);
	text-align: center;
}

.bar-table {
	position: relative;
	width: 939px;
	height: 681px;
	bottom: 0;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../img/table.png)
}

.cloud {
	background-repeat: no-repeat;
    background-image: url(../img/cloud.png);
    height: 220px;
    width: 140px;
    display: inline-block;
    position: absolute;
    background-size: contain;
    right: 40px;
    padding-top: 110px;
    text-align: right;

}
	.cloud.non-display {
		display: none;
	}

	.btn.btn-yes {
		background-color: #2fb92f;
		border-color: #2fb92f;

	}

	.btn.btn-no {
		background-color: red;
		border-color: red;

	}

	.message {
		position: absolute;
	    top: 15px;
	    text-align: center;
	    width: 100%;
	}

.container-fluid {
	position: absolute;
	left: 0;
	z-index: 2;
	display: none;
}




.user-table {
	background-repeat: no-repeat;
    background-image: url(../img/unnamed.png);
    height: 420px;
    width: 400px;
    display: inline-block;
    position: absolute;
    background-size: contain;
    left: 20px;
    top: 0;
    z-index: 2;
}

.user-table h2 {
    font-family: 'LC Chalk', arial;
    font-size: 32px;
    color: white;
    word-spacing: 10px;
}

.users {
	background-image: url(../img/back.png);
    height: 42px;
    width: 367px;
    display: inline-block;
    overflow: scroll;
}

.users p {
	font-family: 'LC Chalk', arial;
    font-size: 24px;
    color: white;
    word-spacing: 10px;
}

.users::-webkit-scrollbar {
  width: 0.4em;
  height: 0.2em;
}
  
.users::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid white;
}

.users::-webkit-scrollbar-track {
  background-color: slategrey;
}

.recipes {
	background-repeat: no-repeat;
    background-image: url(../img/rec.png);
    height: 330px;
    width: 320px;
    display: inline-block;
    position: absolute;
    background-size: contain;
    right: 20px;
    top: 0px;
    z-index: 3;
    
}

.user-recipes {
	background-image: url(../img/paper-back.png);
    height: 102px;
    width: 167px;
    display: inline-block;
    overflow: scroll;
}

.recipes.non-display {
	display: none;	
}

.recipes p {
    font-size: 24px;
    color: black;
    word-spacing: 10px;
    margin-bottom: -10px
}

.recipes h2 {
	padding-top: 40px
}

.user-recipes::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}
  
.user-recipes::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid white;
}

.user-recipes::-webkit-scrollbar-track {
  background-color: #f5e687;
}

.alco {
	background-repeat: no-repeat;
    width: 436px;
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 215px;
    padding-top: 110px;
}

.bottles {
	position: relative;
    width: 100%;
    bottom: 250px;
}

.bottle {
	max-height: 170px;
    width: auto;
    height: auto;
}


.new-recipe {
	position: absolute;
    width: 100%;
    bottom: 90px;
}

.form {
	text-align: center;
    background-image: url(../img/addrec.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 360px;
    display: inline-block;
    position: relative;
    background-size: contain;
}

.text-center {
	text-align: center;
    padding-top: 25px;
    color: wheat;
}

.form-signin {
	max-width: 250px;
	padding: 15px;
    margin: auto;
}

.btn.btn-success {
	margin-top: 10px;
    background-color: #a26a2f;
    border-color: #a26a2f;
    bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
}